.header {
    display: flex;
    background-color: rgb(38, 156, 206);
    min-height: 10vh;
    max-height: 30vh;
}

.header-title {
    font-size: xxx-large;
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1rem;
}

.header-menu{
    font-size: large;
    display: inline-flex;
    align-items: center;
    background-color: rgb(41, 179, 238);
    border-radius: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    min-width: 10rem;
    border: thin;
}

.header-menu:hover{
    background-color:yellow;
}

.header-menu.contact {
    margin-right: 5rem;
}

.header-menu a {
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}