.data-breakdown {
    display: inline-flex;
    flex-flow: column nowrap;
    background-color: rgb(196, 193, 191);
    min-width: 40vw;
    margin-right: 5rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.data-breakdown.dark {
    background-color: rgb(75, 71, 84);
    color:rgb(159, 155, 153)
}

.title {
    margin: 2rem;
    font-size: large;
}