.welcomeMessage {
     display: inline-flex;
     background-color: grey;
     min-height: 10vh;
     min-width: 100vw;
     text-align: center;
     margin-top: 2rem;
     margin-bottom: 2rem;
     align-items: center;
     justify-content: center;
}