.content-container {
    display: flex;
    justify-content: space-between;
}

.summary-table {
    margin-left: 1rem;
    width: 50vw;
}

.summary-table th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    font-size: small;
}

.summary-table table {
    border-spacing: 1rem;
}
.summary-table th, td.week-heading {
    background-color: rgb(129, 131, 129);
    width: 100px;
}

.summary-table td.week-heading {
    text-align: center;
}

.summary-table th.table-corner {
    border: 0;
    background-color: inherit;
}

.summary-table td.good{
    background-color: rgba(5, 136, 5, 0.619);
}

.summary-table td.fair{
    background-color: rgba(177, 199, 33, 0.619);
}

.summary-table td.bad{
    background-color: rgba(187, 45, 45, 0.619);
}