.data-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.data-input-item:not(.heading) {
    box-shadow: 10px 10px 80px rgb(159, 156, 156);
    width: 75vw;
    height: 60vh;
    padding: 1rem 1rem 1rem 1rem;
    font-size: x-large;
}

.data-input-item.heading {
    font-size: xx-large;
    font-style: italic;
    align-self: flex-start;
    margin: 0 0 4rem 2rem;
}

.data-input-item.score {
    display: flex;
    flex-flow: column wrap;
}

.data-input-item.feelings {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    height: 40vh;  
}

.data-input-item.notes {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.data-input-item.submit {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.traffic-light-container {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    margin-top: 50px;
    margin-bottom: auto;
    gap: 150px;
}

.feelings-container {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

#custom-notes-input {
    margin-top: 2rem;
    width: 70%;
    height: 60%;
    resize: none;
    align-self: center;
    box-shadow: 5px 5px 40px rgb(159, 156, 156);
    background-color: inherit;
    font-size: 1rem;
    font-family: inherit;
}

.submit-button {
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1rem;
    min-width: 10rem;
    max-width: 50%;
    text-align: center;
    user-select: none;
    margin-top: auto;
    margin-bottom: 20px;
    align-self: center;
}

.navAnchor {
    text-decoration: none;
    color: black;
}

.submit-button:hover {
    background-color: grey;
    cursor: pointer;
}

.data-input-item.blur * {
    filter: blur(5px);
    pointer-events: none;
}