.footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  width: 100vw;
  min-height: 2vh;
  max-height: 5vh;
  background-color: lightgray;
  color: rgb(101, 99, 99);
}

.footer.dark {
  background-color: rgb(75, 71, 84);
  color: rgb(131, 128, 128);
}
